/* --------------------------------sink.html---------------------------- */

/* sink.html */
#sink {
  color: #fff;
  padding: 10px 25vh 10px;
  text-align: left;
  min-height: 100vh;
  text-align: left;
}

.sink-headings {
  margin-top: 2%;
  font-size: 2vw;
  color: #00b4d8;
  text-align: left;
}

.sink-subheadings {
  margin-top: 3%;
  font-size: 1.5vw;
  color: #9b9b9b;
  text-align: left;
}

.sink-body {
  font-family: 'Roboto';
  margin-top: 2.5%;
  font-size: 1.2vw;
  color: #323232;
  text-align: left;
}

.sink-column {
  padding: 2% 2%;
}